<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2024 <a href="~/">Cao Văn Tuấn Anh</a>.</strong> All rights
    reserved.
</footer>